@page
@model IndexModel
@{
    ViewData["Title"] = "Angel Peña";
}

<div class="text-center">
    <h1 class="display-4">Angel Peña</h1>
    <p>Personaje: Arquero del frontend</p>
    <img src="~/imagenes/ArqueroOFC.png" alt="Diego">
</div>