@page
@model BrunoModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bruno</h1>
    <h2>Personaje:  Invocador de Algoritmos Místicos</h2>
    <img src="~/imagenes/bruno.jpg" alt="Imagen Bruno" width=400px>
</div>
