@page
@model IndexModel
@{
    ViewData["Title"] = "Diego Salda침a G칩mez";
}

<div class="text-center">
    <h1 class="display-4">Diego Salda침a G칩mez</h1>
    <p>Personaje: Alquimista Digital</p>
    <img src="~/imagenes/Alquimista.jpeg" alt="Diego">
</div>

