@page
@model IndexModel
@{
    ViewData["Title"] = "Lucia";
}

<div class="text-center">
    <h1 class="display-4">Arquera</h1>
  
    <img src="~/imagenes/Farfetchd.png" alt="Diego">

    <h3> Yo!</h3> 
</div>