@page
@model IndexModel
@{
    ViewData["Title"] = "Natalia Cavazos";
}

<div class="text-center">
    <h1 class="display-4">Natalia Cavazos</h1>
    <p>Personaje: Arquero de Frontend</p>
    <img src="~/imagenes/arquera_nat.jpg" alt="Nat">
</div>

